article {
  border: solid 5px black;
  margin: 1em 0;
  padding: 1em;
}

article header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  background-color: #f4f1ec;
  background-image: none;
  margin-bottom: 20px;
  height: 100px;
}

article header img {
  width: 60px;
}

.tweetIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
}

article header p {
  margin-left: 10px
}

article footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.tweet {
  font-weight: 600;
  word-break: break-all;
  white-space: normal;
}

.tweetDiv {
  border-bottom: solid 5px black;
}

article:hover {
  box-shadow: 10px 10px;
}

article footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

article footer div {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

article footer i:hover {
  color: #e8cc84;
}

article footer i {
  color: #5e5ee7;
}

.handle {
  color: #b0b8d1;
  font-weight: 600;
}

@media screen and (min-width: 992px) {
  article header {
    margin-top: 20px;
  }

  article footer div {
    width: 10%;
  }
}